<div class="main-content">
  <div class="container">
    <h1>Observables Study</h1>
    <br>
    <div class="card">
      <div class="col-md-6">
        <div class="form-group">
          <label>Reactive Wikipedia Search</label>
          <input #input type="text" class="form-control" [class.noSuggestions]="!found" placeholder="Enter your search here">
          <div>
            <ul *ngIf="found" class="search-suggestion-box">
              <li *ngFor="let suggestion of suggestions">{{ suggestion }} </li>
            </ul>
          </div>
        </div>
        <button disabled class="btn btn-primary">Search (Function Removed - Obsolete)</button>
      </div>
    </div>
  </div>
</div>