.col-md-6 {
    padding: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn {
    width: 100%;
    border-radius: 0;
}

.form-control {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    border-radius: 0;
    z-index: -1;
}

h1 {
    font-size: 50px;
    text-align: center;
    transform: translateX(-25%)
}

.search-suggestion-box {
    list-style: none;
    list-style-position: outside;
    border: 1px solid lightgray;
    transition: .2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    padding-left: 0;
}

.search-suggestion-box > li {
    padding-left: 2rem
}

.search-suggestion-box > li:hover {
    text-align: left;
    background-color: #337ab7;
    color: #EEE;
    cursor: default;
}

.suggestion {
    color: rgb(128, 128, 128);
}

.hidden {
    display: none;
}
